<div>
    <h1 class="display-5 fw-bolder mb-2 text-center">A Place to Quicky Find a Jobs You want !!!</h1>
    <p class="lead fw-normal-50 mb-4 text-center">Quickly design and customize responsive mobile-first sites with
        Bootstrap, the world’s most popular front-end open source toolkit!</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">

        <app-job-search class="w-100"></app-job-search>

    </div>
</div>


<div class="container mt-5">

    <div class="row">

        <div class="col-md-4" *ngFor="let job of jobs">
            <div class="card card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{job.jobId}}</h6>
                <p class="card-text">{{job.description}}</p>
                <a href="#" class="card-link">View</a>
            </div>
        </div>

    </div>
</div>